<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="" alt="Study together">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/profile']">Profile</a></li>
        <li><a href=""> Hello {{username}}</a></li>
      </ul>
      <!-- Custom search -->
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search profiles" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let profile of profiles" [value]="profile">
            {{ profile.Fullname }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- Custom search -->
      <button class="btn btn-primary" (click)="logout()"> LOGOUT </button>
    </div>

  </div>
</nav>