<div class="row">
  <div class="col-md-4" >
    <h5>JOIN STUDY TOGETHER COMMUNITY</h5>
    <h6>Join StudyTogether</h6>
    <a href="#" class="btn btn-default" role="button" aria-pressed="true">SignUp!</a>
  </div>

  <div class="col-md-4">
    <h5>STAY CONNECTED</h5>
    <p>social media icons</p>
  </div>

  <div class="col-md-4">
      <h5>NAVIGATE</h5>
        <a href="#">Profile</a> <br>
        <a href="#">Feed</a> <br>
        <a href="#">MeetUps</a>
  </div>

  <div class="col-md-12">
    
    <p class="text-center">Study Together</p>

  <div class="col-md-12">
    <form class="navbar-form navbar-center">
          <a href="#">Privacy Policy</a>
          <a href="#">Sitemap</a>
          <a href="#">Copyright</a>
    </form>
  </div>
</div>
