<div class="container col-lg-6">
  <form [formGroup]="loginForm">

    <div class="form-group">
      <label>Username</label>
      <input type="text"
              class="form-control"
              formControlName="username">        
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" 
              class="form-control"
              formControlName="password">
    </div>

    <div class="alert alert-danger" 
    *ngIf="loginForm.controls['username'].touched 
    && loginForm.controls['password'].touched
    && loginForm.controls['username'].invalid
    && loginForm.controls['password'].invalid">
      <strong> You need to provide username and password. </strong>
    </div>

    <button 
    type="submit" 
    class="btn btn-default btn-affirmative" 
    (click)="login(loginForm.value)" 
    [disabled]="!loginForm.valid" style="width: 100%">
    LOGIN
  </button>
  <button class="btn btn-default btn-deny"
  (click)="goToRegister()"
  style="width: 100%; margin-top: 10px">
    I DON'T HAVE ACCOUNT
  </button>
  </form>

  <div class="alert alert-danger" 
  *ngIf="failedLogin">
    <strong> Wrong username or password </strong>
  </div>

</div>
