<div class="container col-lg-6 col-lg-offset-3 valign form">
  <form [formGroup]="loginForm" class="background-white">

    <div class="form-group background-white">
      <label class="background-white">Username</label>
      <input type="text"
              class="form-control background-white"
              formControlName="username">        
    </div>

    <div class="form-group background-white">
      <label class="background-white">Password</label>
      <input type="password" 
              class="form-control"
              formControlName="password">
    </div>

    <div class="alert text-eggplant background-white" 
    *ngIf="loginForm.controls['username'].touched 
    && loginForm.controls['password'].touched
    && loginForm.controls['username'].invalid
    && loginForm.controls['password'].invalid">
      <strong class="background-white"> You need to provide username and password. </strong>
    </div>

    <button 
    type="submit" 
    class="btn btn-default btn-affirmative" 
    (click)="login(loginForm.value)" 
    [disabled]="!loginForm.valid" style="width: 100%">
    LOGIN
  </button>
  <button class="btn btn-default btn-deny"
  (click)="goToRegister()"
  style="width: 100%; margin-top: 10px">
    I DON'T HAVE ACCOUNT
  </button>
  </form>

  <div class="alert text-eggplant background-white" 
  *ngIf="failedLogin">
    <strong class="background-white"> Wrong username or password </strong>
  </div>

</div>
