<div class="comments">

  <div class="comment-wrap" *ngFor="let reviews of listOfReviews">
    <div class="photo">
        <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')">{{reviews.username}}</div>
    </div>

    <div class="comment-block">
        <p class="comment-text">{{reviews.comment}}</p>
        <div class="bottom-comment">
            <div class="comment-date">{{reviews.date}}}</div>
            <ul class="comment-actions">
                <li class="complain">Complain</li>
                <li class="reply">Reply</li>
            </ul>
            </div>
        </div>
    </div>
</div>