.vertically-align-center {
    display: table-cell;
    vertical-align: middle;
}

.display-table {
    display: table;
}

.welcome {
    height: 720px;
    background-color: #a7d2cb;
}

.logo {
    margin-top: 9%;
}

