<div class="row">

    <div class="col-lg-12 text-center">
      <app-header></app-header>
    </div>
  
    <div class="col-lg-6 text-center" style="height: 550px;">
      Ovde ide slika i ispod slike podaci
    </div>
  
    <div class="col-lg-6 text-center vertically-align-center">
      A ovde idu revjuovi od strane drugih usera
    </div>

    <div class="col-lg-12 text-center">
      ovde ide footer (samo sto cemo ga spustiti dole skroz)
    </div>
  
    <div class="col-lg-12 text-center">
      <app-footer></app-footer>
    </div>

  </div>