<div class="row">
  
    <div class="col-lg-4 text-center">
      <img src="" alt="" class="img-circle">
      <h1> OVO JE SLIKA PROFILA:  </h1>
      <h2> IME I PREZIME: </h2>
      <p> {{ profileInfo.Fullname }} </p>
      <h2> OPIS: </h2>
      <p> {{ profileInfo.Description }} </p>
    </div>
  
    <div class="col-lg-8 text-center vertically-align-center">
      <p> Pozeljno kreirati review komponentu koja ce se izlistavati za svaki profil posebno(ngfor) </p>
      <div>
        <app-review></app-review>
      </div>
    </div>
  </div>