<div class="row">
  
    <div class="col-lg-4 text-center">
      <img src="" alt="" class="img-circle">
      <h1> OVO JE SLIKA PROFILA:  </h1>
      
      <input type="file" accept="image/*" (change)="prikazi($event)">
      <img [src]="image" class="img-thumbnail">

      <h2> IME I PREZIME: </h2>
      <p> {{ profileInfo.Fullname }} </p>
      <h2> OPIS: </h2>
      <p> {{ profileInfo.Description }} </p>
      <h2> Rola: </h2>
      <p> {{ profileInfo.RoleName }} </p>
    </div>

    <div *ngIf="admin"> 
      <h2> DEO ZA ADMINA </h2>
      <strong> Ukupno korisnika: </strong>
      <p> {{ adminInfo.TotalUsers }} </p>
      <strong> Ukupno admina: </strong>
      <p> {{ adminInfo.TotalAdmins }} </p>
      <strong> Korisnik sa najvise kreiranih sastanaka: </strong>
      <p> {{ adminInfo.MVPUser }} </p>     
    </div>
  
    <div class="col-lg-8 text-center vertically-align-center">
      <div>
        <app-review></app-review>
      </div>
    </div>
  </div>