/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'baskerville';
    src: url(assets/fonts/LibreBaskerville-Regular.otf) format("opentype");
  }

* {
 font-family: 'baskerville';
 /* background-color: #a7d2cb; */
}

.default {
    background-color: #a7d2cb;
}


.btn-affirmative {
    background-color: #edc25a;
    color: black;
}

/* .btn-affirmative:hover {
    background-color: #bc8b14;
}

.btn-affirmative:hover:disabled {
    background-color: #f4e897;
} */

.btn-deny {
    background-color: #874c62;
    color: white;
}

.btn-deny:hover {
    background-color: #512d3b;
    color: white;
}

.salmon {
    background-color: #c98474;
    color: #874c62;
}

.valign {
    margin-top: 20%
}

.text-eggplant {
    color: #512d3b;
}

