
<div class="container col-lg-6">
  <form [formGroup]="createUserForm">

    <div class="form-group">
      <label>Username</label>
      <input type="text"
              class="form-control"
              formControlName="Username">       
    </div>
    <!-- <div class="alert alert-danger" *ngIf="createUserForm.controls['Username'].touched  
    && !createUserForm.controls['Username'].valid">
      <strong> This field is required! </strong>
    </div> -->

    <div class="form-group">
      <label>Password</label>
      <input type="password" 
              class="form-control"
              formControlName="Password">
    </div>
    <!-- <div class="alert alert-danger" *ngIf="createUserForm.controls['Password'].touched 
    && !createUserForm.controls['Password'].valid">
      <strong> Password must be at least 8 characters long! </strong>
    </div> -->

    <div class="form-group">
      <label>Email</label>
      <input type="email"
            class="form-control"
            formControlName="Email">
    </div>
    <!-- <div class="alert alert-danger" *ngIf="createUserForm.controls['Email'].touched 
    && !createUserForm.controls['Email'].valid">
      <strong> Please type correct email! </strong>
    </div> -->

    <div class="form-group">
      <label>Fullname</label>
      <input type="text"
            class="form-control"
            formControlName="Fullname">
    </div>

    <div class="alert alert-danger" 
    *ngIf="createUserForm.controls['Username'].touched 
    && createUserForm.controls['Password'].touched
    && createUserForm.controls['Email'].touched
    && createUserForm.controls['Fullname'].touched
    && createUserForm.invalid">
      <strong> Please check your input. </strong>
    </div>

    <re-captcha (resolved)="resolved($event)" siteKey="6LerpVsUAAAAAFubI6zgoxoKJpc8oiq9lzbukwV-"></re-captcha>

    <button type="submit" 
    class="btn btn-default btn-affirmative" 
    (click)="createUser(createUserForm.value)" 
    [disabled]="!createUserForm.valid" style="width: 100%">
    SUBMIT
  </button>
  <button class="btn btn-default btn-deny"
  (click)="goToLogin()"
  style="width: 100%; margin-top: 10px">
    TAKE ME TO LOGIN
  </button>
  </form>

  <div style="background-color: lawngreen;margin-top: 10px" *ngIf="registered">
    SUCCESSFULY REGISTERED!
  </div>

</div>

<div class="col-lg-6 text-center" style="background-color: lightgreen">
  <h2> How do you register: </h2>
  <p> Make sure you input all fields.</p>
  <p> Make sure your password has at least 8 characters long.</p>
  <p> Make sure you input proper email.</p>
</div>